.title{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_btn{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    margin-right: 2px;
    padding: 2px;
}
.title_btn:hover{
    background-color: rgb(240, 240, 240);
}